# =============================================
# .gitignore - Monorepo SRAA
# =============================================

# Dependencias
**/node_modules/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# Build Front
**/dist/

# Credenciales locales
**/application-local.properties
**/.env.local
**/.env.production.local

# Logs
*.log

